/* 
    Document   : default
    Created on : 24-sep-2012, 21:52:28
    Author     : Alexander
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding-top: 80px;
    /*background-color:#b0c4de;*/
}

